/////////////////////////////////////////////////////////////////////////////////////////
h1 {
	font-family: arial;
	color: dimgrey;
}
canvas {
	width: 200px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
	text-align: center;
}
input {
	font-size: 20pt;
}
.blueback {
	background-color: blue;
}
.orangeback {
	background-color: orange;
}
/////////////////////////////////////////////////////////////////////////////////////////
